.date-popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  .date-content {
    padding: 15px 15px 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    max-height: calc(100vh - 50px);
    margin: 0 auto;
    background-color: white;
    z-index: 1;
    overflow: auto;
    flex-wrap: wrap;
  }
}

.close-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hour-item {
  font-size: 18px;
  background-color: #fa8072;
  color: #fff;
  flex: 0 1 15%;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 2px solid #fa8072;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #fff;
    color: #fa8072;
  }
}
.mentor-name {
  flex: 0 1 100%;
  text-align: center;
  h2 {
    margin: 0 0 15px;
  }
}
